.empControls{
    width: 100% !important;
    padding: 5% !important;
}
.empControls > * {
    width: 100% !important;
}
.myPadding{
    padding-bottom: 10px !important;
}
.buttonRow button{
    margin: 5px;
}
.btn-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
    background-color:#ffffff;
    color: black;
}
.fillSpace{
    flex: 1 1 auto;
}
.toolBar{
    padding: 15px;
}